.banner{
    background-image: url("../assets/img/img-bg-banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    &-block {
        .row-flex();
        flex-wrap: nowrap;

        &__slider {
            position: relative;
            left: 170px;
            .sm-block({
                display: none;
            });
            .banner-btn{
                
                &_prev {
                    
                    height: 30px;
                    background: transparent;
                    border: none;
                    position: relative;
                    left: 490px;
                    bottom: 30px;

                }
                &_next {
                    height: 30px;
                    background: transparent;
                    border: none;
                    transform: rotate(180deg);
                    position: relative;
                    left: 500px;
                }
            }
            &-content {

            }

            .page__text {
                color: @color_green;
                margin-bottom: 10px;
                position: relative;
                bottom: 210px;
                &::before {
                    content: '';
                    background-image: url(../assets/img/img-banner-dop.png);
                    display: inline-block;
                    width: 233px;
                    height: 110px;
                    position: absolute;
                    top: -150px;
                    left: 50px;
                }
            }

            .page__text_nunito-small {
                .size(4);
                position: relative;
                bottom: 205px;
            }
        }

        &-description {
            position: relative;
            top: 140px;
            .sm-block({
                top: 50px;
            });
            
            .page__title-h1 {
                color: @color_white;
                .size(3);
                margin-bottom: 30px;
                .sm-block({
                    font-size: 45px;
                    text-align: left;
                    .size(10);
                    .shift-left(.3);

                     
                });
            }

            .page__text {
                .size(12);
                color: @color_white;
                margin-bottom: 50px;
                .sm-block({
                    .shift-left(.4);
                });
            }

            &__buttons {
                .sm-block({
                    flex-direction: column;
                    .size(11);
                    .page__btn_green {
                        .size(12);
                        .shift-left(1);
                        margin-bottom: 20px;
                    }

                    .page__btn_transparent {
                        .size(12);
                        .shift-left(1);
                    }
                });
                .row-flex();
                margin-bottom: 100px;
                .page__btn_green {
                    margin-right: 40px;
                }
            }

            &__soc {
                .row-flex();

                &_facebook {
                    .sprite(@icon-facebook);
                    margin-right: 15px;
                }
                &_linked {
                    .sprite(@icon-linked);
                }
            }
        }
    }
}

#bannerSlider {
    display: flex;
}