.header{
    //background-color: black;
    //position: fixed;
    position: sticky;
    top: 0;
    padding-top: 20px;
    padding-bottom: 17px;
    overflow: hidden;
    z-index: 1000;
    &-block {
        .row-flex();
        &__logo {
            .size(4);
            .col();
            .shift-right(3);
            .sm-block({
                .size(12);
                 
            });
        }

        &-nav {
            margin-top: 12px;
            .page__link {
                
                .col();
                .size(1);
                .sm-block({
                    .size(8);
                    flex-wrap: wrap;
                    //display: none;
                     
                });
                //.shift-left(1);
                flex-wrap: nowrap;
                margin-right: 30px;
                &:hover {
                    color: @color_green;
                }
                //.shift-right(0.1);
                &_lang {
                    .sm-block({
                        
                        display: none;
                         
                    });
                    font-family: "@{Nunito_Sans}-Regular";
                    text-decoration: none;
                    color: @color_white;
                    margin-right: 10px;
                    &:hover {
                        color: @color_green;
                    }
                }
            }
        }
    }
}