section#banner.banner
    .wrapper
        .banner-block
            .banner-block-description
                .page__title-h1 Pièces d'équipement lourd
                .page__title-h2 Pièces d'équipement lourd
                .page__text Nous sommes fiers de vous présenter nos produits et de vous aider à trouver le meilleur prix
                .banner-block-description__buttons
                    .page__btn_green Voir le catalogue
                    .page__btn_transparent Contactez-nous
                .banner-block-description__soc
                    .banner-block-description__soc_facebook
                    .banner-block-description__soc_linked
            .banner-block__slider
                .banner-block__slider-content
                    #bannerSlider
                        .page__img
                            img(src="assets/img/img-banner-obj.png")
                        .page__img
                            img(src="assets/img/img-banner-obj.png")
                button.banner-btn.banner-btn_prev
                        .page__img
                            img(src="assets/img/img-strelka.png")
                button.banner-btn.banner-btn_next
                        .page__img
                            img(src="assets/img/img-strelka.png")
                .page__text Roulements
                .page__text_nunito-small Roulements à billes; roulements de coupe. Disponibles selon vos exigences

