footer.footer
    .wrapper
        .footer-block
            .footer-block__logo
                a(href="/")
                    .page__img
                        img(src="../assets/img/img-logo.png")
            .footer-block__nav
                a(href="#").page__link Produits
                a(href="#").page__link Contact
                a(href="#").page__link Politique de confidentialité
                a(href="#").page__link Avis légal
            .banner-block-description__soc
                    .banner-block-description__soc_facebook
                    .banner-block-description__soc_linked
            .footer-block__rights
                .page__text *Les logos ainsi que les noms de manufacturiers sont utilisés à titre de référence seulement. Nous n’insinuons en aucun cas que les pièces vendues soient des pièces d’origine
                .page__text_green © 2013 Tous droits réservés - Centre Multi Pièces ML Inc