section.form
    .wrapper
        .page__title-h2 Écrivez-nous si vous avez des questions
        .form-block
            form(action="").form-block-long
                input.place(type="text" placeholder="Votre nom*" required )
            form(action="").form-block-row
                input.place(type="text" placeholder="Votre téléphone*" required )
                input.place(type="text" placeholder="Votre courrier" required )
            textarea(name="", cols="40", rows="5" placeholder="Ici vous pouvez nous poser votre question...")
            .form-block-row_too
                .page__btn_green-have Contactez-nous
                input.checkbox(type="checkbox")
                .page__text En cliquant sur le bouton, vous acceptez la politique de confidentialité
            

