header.header
    .wrapper
        .header-block
            .header-block__logo
                .page__img
                    img(src="../assets/img/img-logo.png")
            .header-block-nav
                .header-block__Accueil 
                    a(href="#").page__text_nunito Accueil
                .header-block__Produits 
                    a(href="#").page__text_nunito Produits
                .header-block__Mission 
                    a(href="#").page__text_nunito Mission
                .header-block__Contact 
                    a(href="#").page__text_nunito Contact
                .header-block__fr 
                    a(href="#").page__text_nunito fr
                .header-block__en 
                    a(href="#").page__text_nunito en
