header.header
    .wrapper
        .header-block
            .header-block__logo
                .page__img
                    img(src="../assets/img/img-logo.png")
            .header-block-nav
                a(href="#").page__link Accueil
                a(href="#").page__link Produits
                a(href="#").page__link Mission
                a(href="#").page__link Contact
                a(href="#").page__link_lang Fr
                a(href="#").page__link_lang En
