section.information
    .wrapper
        .information-block
            .information-block-description
                .page__title-h2 Un peu sur notre société
                .page__text Le Centre-Multi-Pièces ML inc. est une entreprise qui se spécialise dans les pièces de rechange pour les équipements lourds dans les domaines de la construction, forestiers et miniers. Avec plus de 40 années d’expérience dans le milieu industriel, nous permettons aux équipements lourds de bien fonctionner, et ce, partout à travers le monde. Nous offrons un éventail de marques reconnues et de qualité supérieure. Nous savons qu’il est important que votre équipement fonctionne bien, c’est pourquoi nous nous assurons de vous satisfaire en vous offrant le meilleur à des prix imbattables.
            .information-block-items
                .information-block-items-item
                    .information-block-items-item_bg.first-item
                        .page__text Minier
                        .information-block-items-item_bg-value
                            .page__img
                                img(src="assets/img/01wh.png")
                    .information-block-items-item_bg.second-item
                            .page__text Forestier
                            .information-block-items-item_bg-value
                                .page__img
                                    img(src="assets/img/02wh.png")
                    .information-block-items-item_bg.third-item
                            .page__text Construction
                            .information-block-items-item_bg-value
                                .page__img
                                    img(src="assets/img/03wh.png")
                    .information-block-items-item_bg.fourth-item
                            .page__text Industriel
                            .information-block-items-item_bg-value
                                .page__img
                                    img(src="assets/img/04wh.png")