section.partners
    .wrapper
        .partners-block
            .partners-block__slider
                .partners-block__slider-content
                    #partnersSlider
                        .page__img
                            img(src="assets/img/eaton-6 1.png")
                        .page__img
                            img(src="assets/img/clark-logo 2.png")
                        .page__img
                            img(src="assets/img/clark-logo 1.png")
                        
                button.partners-btn.partners-btn_prev
                        .page__img
                            img(src="assets/img/img-strelka.png")
                button.partners-btn.partners-btn_next
                        .page__img
                            img(src="assets/img/img-strelka.png")
            .page__title-h2 Un large choix de marques célèbres
        