section.products
    .wrapper
        .products-block
            .products-block-item_products
                .page__title-h2 Produits
                .page__text Nous travaillons avec les principaux fabricants d'équipements lourds au monde pour fournir des prix, une qualité et un service inégalés sur les pièces d'origine et non d'origine.
                .page__btn_green Voir tous les produits
            .products-block-item_motor.products-block-item
                .products-block-item_motor_bg
                    .products-block-item_motor_bg-descr
                        .page__text_gray 8 produits
                        .page__text_nunito-dark Groupe Moteur
                        .page__text_small Moteurs neufs ou rebâtis pour tous les grands manufacturiers
                    .products-block-item_motor_bg-img
                        .page__img
                            img(src="assets/img/img-products-1.png")
            .products-block-item_transmission.products-block-item
                .products-block-item_transmission_bg
                    .products-block-item_transmission_bg-descr
                        .page__text_gray 5 produits
                        .page__text_nunito-dark Transmission & Différentiel
                        .page__text_small Joint universel simple et double pour toutes marques, etc
                    .products-block-item_transmission_bg-img
                        .page__img
                            img(src="assets/img/img-products-2.png.png")
            .products-block-item_Hydraulique.products-block-item
                .products-block-item_Hydraulique_bg
                    .products-block-item_Hydraulique_bg-descr
                        .page__text_gray 10 produits
                        .page__text_nunito-dark Hydraulique
                        .page__text_small Nous offrons une grande variété de cylindres, accumulateurs hydrauliques, etc
                    .products-block-item_Hydraulique_bg-img
                        .page__img
                            img(src="assets/img/img-products-3.png")
            .products-block-item_Tractions.products-block-item
                .products-block-item_Tractions_bg
                    .products-block-item_Tractions_bg-descr
                        .page__text_gray 12 produits
                        .page__text_nunito-dark Tractions
                        .page__text_small Vente de chaînes et patins prémontés selon les normes du manufacturier, mailles, rouleaux, etc
                    .products-block-item_Tractions_bg-img
                        .page__img
                            img(src="assets/img/img-products-4.png.png")
            .products-block-item_Roulements.products-block-item
                .products-block-item_Roulements_bg
                    .products-block-item_Roulements_bg-descr
                        .page__text_gray 3 produits
                        .page__text_nunito-dark Roulements
                        .page__text_small En vente joints d'huile et roulements de qualité supérieure
                    .products-block-item_Roulements_bg-img
                        .page__img
                            img(src="assets/img/img-products-5.png.png")
