section.steps
    .wrapper
        .page__title-h2 Pourquoi nous choisir?
        .page__text Nous pouvons répondre à la plupart de vos besoins en petites quantités et en gros. Nous offrons toujours à nos clients des produits de très haute qualité, des prix compétitifs et un service 24 heures sur 24.
        .steps-block
            .steps-block-items
                .steps-block-items-item
                    .page__img
                        img(src="assets/img/01.png")
                    .page__text Activités opérationnelles
                .steps-block-items-item.left
                    .page__img
                        img(src="assets/img/02.png")
                    .page__text Grand stock d'entrepôt
                .steps-block-items-item
                    .page__img
                        img(src="assets/img/03.png")
                    .page__text Politique de prix flexible
                .steps-block-items-item.left
                    .page__img
                        img(src="assets/img/04.png")
                    .page__text Garantie de qualité